{% extends "layout.html" %}
{% block content %}
      <!-- ***********************  ABOUT / PROFILE  *********************** -->
     
      <header>
        <div class="content-wrap"> 
          <h1>JESSE DE MELO</h1>
          <h2>Software Engineering Student at Auburn University</h2>
  
          <p>Add your profile copy here. Add more paragraphs or links as needed. </p>
        </div> 
        
      </header>

      <!-- ********************  PROJECTS / PORTFOLIO  ********************* -->
      <section class="projects">
        <div class="content-wrap">
          <h2>Featured Projects</h2>
          <p>View selected projects below. More information can be found at <a href="https://github.com/cjesseantonio">github.com/cjesseantonio</a>.</p>

          <section class="project-item">
            <img src="../css-portfolio/image/thumbnail-2.jpg" alt="description of image">
            <h3>Banking Informtion System</h3>
            <p>Summary or description of the project and/or your role in it. Add as many paragraphs as you need.</p>
            <a class="btn" href="#" target="_blank">View project</a>
          </section>
        </div>
      </section>

      <!-- ***********************  WORK EXPERIENCE  *********************** -->
      <section class="work-experience  item-details">
        <div class="content-wrap divider">
          <h2>Work Experience</h2>
          <section class="job-item">
            <div class="job-details">
              <h3>Camp Counselor | Tommorrow's Community Innovators</h3>
              <p>Auburn University</p>
              <p>June 2019 – June 2020</p>
            </div>
            <div class="job-summary">
              <p>• Lead different engineering activities such as MIT AppInventor, 
                Robotics and other activities related to Grand Challenges </p>
              <p>•	Taught students how those activities relate with the work engineers do 
                every day and the important role engineering plays in our society, 
                while serving as a role model for the students</p> 
            </div>
            
          </section>
        </div>  
      </section>

      <!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->
      <section class="education-certifications">
        <div class="content-wrap item-details divider">
          <h2>Education</h2>

          <section>
            <h3>Auburn University - Auburn, AL</h3>
            <p>Bachelor of Software Engineering, 2018-2022</p>
            <p>Summary or accomplishments.</p>
          </section>
        </div>
        </section>

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>
          
          <ul class="content-list">
            <li><a href="mailto:cjesseantonio@gmail.com">cjesseantonio@gmail.com</a></li>
            <li><a href="https://www.linkedin.com/in/jessedemelo/" target="https://www.linkedin.com/in/jessedemelo/">LinkedIn</a></li>
            <!--<li><a href="#" target="_blank">Facebook</a></li>-->
          </ul>
        </div>  
      </footer>
{% endblock content %}